{% extends 'base.html' %}

{% block content %}

<br/>
<br/>
<br/>

<h1>Expenses list</h1>

<ul class="list-group">
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>

</ul>

{% endblock %}

